[Unit]
Description=Oráculo Bot - Servicio de Grid Trading
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/oraculo_bot

# Variables de entorno
EnvironmentFile=/var/www/oraculo_bot/.env

ExecStart=/var/www/oraculo_bot/venv/bin/python run_grid_service.py


[Install]
WantedBy=multi-user.target 